@model List<Book>
@{
    ViewData["Title"]="All Books";
}
<div class="container">
    <div class="row ">
        @foreach (var book in Model)
        {
           <div class="card m-2" style="width: 18rem;">
                <img src="~/images/book.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title">@book.title</h4>
                    <p class="card-text">This ia a small description about the book in which user reads and understand.</p>
                    <div class=" d-flex justify-content-between align-items-center">
                        <small class="text-muted">By @book.author</small>
                        <a  href="/books/getbook/@book.id" class="btn btn-dark">View more</a>
                    </div>
                </div>
            </div> 
        }
        
    </div>
</div>