<div class="container">
  <div class="row">

    <img src="~/images/signup.png" class="img-fluid col" style="max-width:400px; min-width:300px;" alt=""/>

      <form class="card border-0 p-3 shadow mx-auto col" style="min-width: 300px;" method="post" action="">
        <h2 class="text text-muted mb-5">User Sign In</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control shadow border-0" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control shadow border-0" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" name="remember" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>